.categories-slider {
  width: 100%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(238, 245, 243);
  font-size: 30px;
}
.active {
  border-bottom: 2px solid red;
  background-color: transparent;
  color: black;
}
.category-button {
  background-color: transparent;
  border-width: 0px;
  color: black;
  width: 20%;
}
